.content{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

.titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.btn-primary {
    background-color: #F27405;
    border-radius: 20px !important;
    border: none !important;
}

.center {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    justify-content: center !important;
}