ion-content{
  --background: #F2F2F2;
  align-items: center;
  align-content: center;
  text-align: center;
  --color: #000;
}
.titulo
{
    color: #fff;
    margin-bottom: 10%;
    font-weight: 600;
    font-size: 200%;
}

.header {
  width: 100%;
  color: white !important;

  ion-toolbar {
      --background: #F27405;
      height: fit-content;
      color: white;
      padding: 5px;
      border-radius: 0px 0px 30px 30px;
  }
}



  ion-label{
    font-size: 20px;
    padding-bottom: 5px;
    // color: "dark";
}

  .item-background-color{
    --ion-item-background:transparent;
}

  .itemsFormLogin{
    // border-radius: 50px;
    height: 60px;
    width: 20rem;
    border-radius: 50px;
    background: #fff;
    color: rgb(75, 69, 69);
    margin-bottom: 20px;

    ion-input{
        font-size: 14px;
        --padding-top: 20px;
        --padding-bottom: 19px;
        --padding-start: 5px;
        color: rgb(78, 74, 74);
        
        
    }

    a{
        font-size: 17px;
        letter-spacing: 0px;
        text-decoration: none;
    }
  }

  ion-icon{
    padding-right: 3px;
    font-size: 22px;
    // color: black;
    transform:translateY(0%);
}

  ion-button{
    margin-top: 18px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.3);
    --background: #F27405; 
    background-color: #F27405;   
    margin-bottom: 20px;
    color: black;
    width: 20rem;
    border-radius: 5px;
    
}
  

::placeholder
{
    color: gray;
}

.input{
  appearance: none;
  background: #fff;
  line-height: 0;
  font-size: 17px;
  // width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  letter-spacing: 0.01em;
  position: relative;
  color: #000000;
  font-weight: bold;
  margin-bottom: 10px;
  height: 12%;
  // z-index: 1;
}

form
{
    margin-top: 20%;
    width: 100%;
    height: 50%;
}

.boton
{
    background-color: #DD6262;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    color: white;
    font-weight: 700;
    font-size: 200%;
    text-shadow: 2px 2px #000000;
    width: 80%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 15%;
    margin-bottom: 5%;
}

.invalid
{
    font-size: medium;
}

.div_imagen
{
    border-radius: 50%;
    border-style: solid;
    border-color: #000000;
    
}

.imagen_usuario
{
    object-fit: Cover;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5%;

    box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
    -webkit-box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
    -moz-box-shadow: 2px -1px 31px 1px rgba(255,255,255,0.75);
}




/*SPINNER*/
.spinner {
    position: absolute;
    margin-top: 35%;
    text-align: center;
    padding: 20%;
    z-index: 101;
  }
  
  
  .rotate-center {
    -webkit-animation: rotate-center 0.9s ease-in-out infinite both;
    animation: rotate-center 0.9s ease-in-out infinite both;
    box-shadow: 2px -1px 15px 1px rgb(0, 0, 0);
    -webkit-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
    -moz-box-shadow: 2px -1px 31px 1px rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2022-10-21 22:40:2
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation rotate-center
   * ----------------------------------------
   */
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  