<div [ngClass]="scanActivo?'hidden':'block'">
  <div class="spinner">
    <img
      src="../../../assets/icon/icon.png "
      width="60%"
      [ngClass]="{'rotate-center' : this.spinner}"
      *ngIf="this.spinner"
    />
  </div>

  <div *ngIf="!this.scanActivo && !this.mostrarMenu">
    <div
      (click)="escanearDocumento()"
      class="h-screen w-screen bg-slate-100 flex flex-col justify-start items-center gap-5"
    >
      <div
        class="top-0 w-full h-20 rounded-b-xl bg-customOrange flex justify-center items-center"
      >
        <p class="text-white font-bold text-center text-2xl">
          Ingreso al local
        </p>
      </div>
      <div class="h-full w-full flex flex-col justify-center items-center -mt-20 gap-16">
        <div class="bg-white shadow-2xl shadow-customOrange p-8 rounded-3xl active:scale-95 active:shadow-none transition-all duration-300">
          <img src="/assets/qr-scanner.png" alt="" class="h-52 w-52" />
        </div>
        <div >
          <p class="text-zinc-900 font-bold text-3xl text-center px-10">Escaneá el QR de la puerta para continuar</p>
        </div>
      </div>
    </div>
  </div>

  <!-- DESDE ACA -->
  <div *ngIf="this.scanCoincide && this.mostrarMenu && !estaEnLaLista">
    <div *ngIf="!this.scanActivo && !verEncuestas">
      <div class="h-screen w-screen bg-slate-100 flex flex-col justify-start items-center">
        <div class="absolute top-0 w-full h-16 rounded-b-xl bg-customOrange flex justify-center items-center" style="z-index: 10000000;">
          <p class="text-white font-bold text-center text-2xl">
            ¿Que quieres hacer?
          </p>
        </div>
        <div class="h-full w-full flex flex-col items-center justify-start gap-12 p-12 mt-16">
          <div (click)="entrarListaEspera()" class="w-full h-full flex flex-col items-center justify-center rounded-xl bg-customOrange shadow-2xl px-6 gap-10 active:scale-95 active:shadow-none transition-all duration-300">
            <img src="/assets/fila.png" alt="" class="h-24 w-24">
            <p class="text-white text-3xl font-bold">Ir a fila de espera</p>
          </div>
          <div (click)="verReserva = true" *ngIf="this.auth.UsuarioActivo.tipo != 'anonimo'" class="w-full h-full flex flex-col items-center justify-center rounded-xl bg-customOrange shadow-2xl px-6 gap-10 active:scale-95 active:shadow-none transition-all duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="white" class="bi bi-calendar-week" viewBox="0 0 16 16">
              <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg>
            <p class="text-white text-3xl font-bold">Hacer una reserva</p>
          </div>
          <div routerLink="/graficos" class="w-full h-full flex flex-col items-center justify-center rounded-xl bg-customOrange shadow-2xl px-6 gap-10 active:scale-95 active:shadow-none transition-all duration-300">
            <img src="/assets/resenas.png" alt="" class="h-24 w-24">
            <p class="text-white text-3xl font-bold">Ver encuestas</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="verReserva">
    <div>
      <ion-fab horizontal="end" vertical="top" slot="fixed" style="z-index: 10000001;">
        <ion-fab-button color="transparent">
          <ion-icon (click)="verReserva = false" style="font-size: 50px;" name="arrow-back-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div class="reserva">
      <app-reserva></app-reserva>
    </div>
  </div>
  <!-- HASTA ACA -->
   
  <div *ngIf="estaEnLaLista">
    <div class="h-screen w-screen bg-slate-100 flex flex-col justify-center items-center gap-14 p-10">
      <div class="absolute top-0 w-full h-16 rounded-b-xl bg-customOrange flex justify-center items-center">
        <p class="text-white font-bold text-center text-2xl">
          Escaneá tu mesa
        </p>
      </div>
      <div *ngIf="numeroMesa == 0" class="h-full flex flex-col justify-center items-center gap-14">
        <div>
          <img src="/assets/icon/icon.png" alt="" class="h-32 w-32">
        </div>
        <p class="text-3xl font-extrabold text-center text-black">Estamos buscando una <b class="text-customOrange">mesa</b> para vos<br/><br/>Agradecemos tu paciencia</p>
        <div style="width:100%;height:0;padding-bottom:60%;position:relative;" class="rounded-xl"><iframe src="https://giphy.com/embed/pFZTlrO0MV6LoWSDXd" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/waiting-mr-bean-checking-time-pFZTlrO0MV6LoWSDXd"></a></p>
      </div>
      <div *ngIf="numeroMesa != 0" class="flex flex-col items-center gap-6 mt-24">
        <div (click)="escanearQRmesa()" class="bg-white rounded-3xl flex justify-center items-center p-10 shadow-2xl shadow-customOrange mt-2 active:scale-95 active:shadow-sm transition-all duration-300">
          <img src="/assets/qr-scanner.png" alt="" class="w-48 h-48">
        </div>
        <div>
          <p class="text-3xl font-extrabold text-center text-black">Escaneá el QR de la mesa que el <b class="text-customOrange">metre</b> te indique</p>
        </div>
        <div class="w-[90vw]">
          <div style="width:100%;height:0;padding-bottom:74%;position:relative;"><iframe src="https://giphy.com/embed/3wogjgqFfr2z6" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/hungry-food-eat-3wogjgqFfr2z6"></a></p>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="verEncuestas && this.scanCoincide"
    style="height: 100%; width: 100%"
  >
    <div>
      <ion-fab horizontal="start" vertical="top" slot="fixed">
        <ion-fab-button color="warning">
          <ion-icon
            (click)="esconderEncuestas()"
            style="font-size: 50px"
            name="arrow-back-circle-outline"
          ></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <div
      style="height: 100%; width: 100%"
      *ngIf="this.escanerMesaOk && !this.mostrarMenu"
    >
      <br />
      <h1 style="font-size: xx-large">Su numero de mesa es</h1>

      <h1 class="numero_mesa">{{numeroMesa}}</h1>
    </div>
    <app-charts-encuesta-clientes></app-charts-encuesta-clientes>
  </div>

  <div *ngIf="scanActivo">
    <div class="scan">
      <div class="qrcode"></div>
      <div class="border"></div>
    </div>
    <!-- <h3 class="wobble-hor-bottom my-5">Escaneando QR...</h3> -->
    <button class="boton" style="margin-top: 50%" (click)="pararScan()">
      Deja de escanear
    </button>
  </div>

  <ion-fab horizontal="start" vertical="top" slot="fixed" style="z-index: 10000001;">
    <ion-fab-button color="white">
      <ion-icon name="log-out-outline" (click)="cerrarSesion()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<app-loading *ngIf="isLoading"></app-loading>

